.block {
  display: flex;
  margin-top: 10px;
  &__element-block-right {
    margin-top: 10px;
    margin-left: auto;
    height: 80%;
    width: 140px;
    &__text {
      font-size: 21px !important;
    }
  }
}

#agent {
  font-size: 14px;
  color: #b2b2bf;
}
#price {
  font-size: 30px;
  color: black;
}
p {
  padding: 0px;
  margin: 0px;
}
.card {
  margin-bottom: 20px;
}
